* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #30d110;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.score-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px #000;
  }
  
  #score-value {
    font-size: 28px;
  }
  

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;
}
@keyframes pipe-animation {
   from {
    right: -80px;
   }
   
   to{
    right: 100%;
   }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}